@using KBRPETS.Models.Enums
@model CadastroPetsViewModel

@{
    Layout = "_LayoutPanel";
}

<body class="bg-dark h-100">

    <header class="bg-light py-2 shadow">

        <input type="hidden" asp-for="@Model.ThisUser.Id" />

        <div asp-action="Painel" class="container-fluid">
            <div class="row">
                <div style="width: 250px;">
                    <img src="img/kbrtec.webp" alt="KBRTEC" height="60" width="150" class="object-fit-contain">
                </div>

                <div class="col dropdown d-flex align-items-center justify-content-end">
                    <div class="d-flex align-items-center dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Bem vindo @Html.DisplayFor(model => model.ThisUser.Name)!

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill ms-2" viewBox="0 0 16 16">
                            <path fill="#6c757D" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                        </svg>
                    </div>

                    <ul class="dropdown-menu">
                        <li>
                            <a asp-action="Editar" asp-route-id="@Model.ThisUser.Id" class="dropdown-item text-end">
                                <small>Alterar Senha</small>
                            </a>
                            <a class="dropdown-item text-end" asp-action="Logout">
                                <small>Sair</small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="d-flex" style="min-height: calc(100vh - 76px - 72px);">
        <aside class="bg-custom text-light py-4" style="width: 250px;">
            <div class="menu">
                <div class="item">
                    <div class="w-100 d-flex align-items-center gap-2 link-light text-decoration-none mt-2 py-3 px-3 border-start border-light border-4" type="button" data-bs-toggle="collapse" data-bs-target="#menu-usuario" aria-expanded="true" aria-controls="menu-usuario">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                        </svg>

                        Usuários
                    </div>

                    <div class="collapse show" id="menu-usuario">
                        <div class="bg-dark d-flex flex-column rounded mx-4 p-2 row-gap-1">
                            <a asp-action="CadastrarPets" class="submenu-link link-light text-decoration-none rounded p-2 active">
                                <small class="d-flex justify-content-between align-items-center">
                                    Cadastrar


                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                    </svg>
                                </small>
                            </a>
                            <a href="@Url.Action("Painel", "painel")" class="submenu-link link-light text-decoration-none rounded p-2">
                                <small class="d-flex justify-content-between align-items-center">
                                    Listagem

                                </small>
                            </a>
                            <a asp-action="Solicitacoes" class="submenu-link link-light text-decoration-none rounded p-2">
                                <small class="d-flex justify-content-between align-items-center">
                                    Solicitações
                                </small>
                            </a>
                        </div>
                    </div>
                </div>

                <a asp-action="Logout" class="w-100 d-flex align-items-center gap-2 link-light text-decoration-none mt-2 py-3 px-3 ms-1 icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(-.125rem, 0, 0);">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
                        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                    </svg>

                    Sair
                </a>
            </div>
        </aside>

        <main class="col h-100 text-light p-4">
        <div class="d-flex align-items-end justify-content-between mb-4">
            <h1 class="h3">CRUD de Pets</h1>

                <a asp-action="InserirPet" asp-route-id="@Model.ThisUser.Id" class="btn btn-light">Adicionar Pet</a>
        </div>
        

        <div class="row row-gap-4 mt-4">
            @foreach (Pet pet in Model.Pets) {

                // Separando dados de cada Lista para dados individuais.

                List<string> images = pet.Images.Split(',').ToList();
                List<string> location = pet.Location.Split(',').ToList();

                <div class="col-xxl-3 col-4">
                    <div class="card text-light rounded bg-custom overflow-hidden">
                        <a asp-action="Integra" asp-controller="pets" asp-route-name="@pet.Name" asp-route-id="@pet.Id">

                            @if (images != null && images.Any() && !string.IsNullOrEmpty(images[0]))
                            {

                                // Caso haja um link válido em images, mostre-o.
                                <img src="~/@images[0]" alt="" class="w-100 object-fit-cover" height="220">
                            }

                            else
                            {
                                // Caso contrário, mostre uma imagem de Failsafe baseada na espécie do animal.

                                if (pet.Species == SpeciesEnum.GATO)
                                {
                                        <img src="~/img/cartoon-cat.jpg" alt="" class="w-100 object-fit-cover" height="320">
                                }
                                else if (pet.Species == SpeciesEnum.CACHORRO)
                                {
                                        <img src="~/img/cartoon-dog.jpg" alt="" class="w-100 object-fit-cover" height="320">
                                }
                                else if (pet.Species == SpeciesEnum.AVE)
                                {
                                        <img src="~/img/cartoon-cat-2.jpg" alt="" class="w-100 object-fit-cover" height="320">
                                }
                            }

                        </a>

                        <div class="p-3">
                            <p class="m-0 fs-sm">Cód. @Html.DisplayFor(model => pet.Id)</p>

                            <div class="d-flex align-items-center gap-2 mt-2 py-2">
                                <h3 class="h4 m-0">@Html.DisplayFor(model => pet.Name)</h3>

                                @{
                                    if (pet.Gender == GenderEnum.MACHO) {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-gender-male" viewBox="0 0 16 16">
                                            <path fill="#006AB0" fill-rule="evenodd" d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2H9.5zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8z" />
                                        </svg>
                                    }
                                    else {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-gender-female" viewBox="0 0 16 16">
                                            <path fill="#FF7373" fill-rule="evenodd" d="M8 1a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM3 5a5 5 0 1 1 5.5 4.975V12h2a.5.5 0 0 1 0 1h-2v2.5a.5.5 0 0 1-1 0V13h-2a.5.5 0 0 1 0-1h2V9.975A5 5 0 0 1 3 5z" />
                                        </svg>
                                    }
                                }
                            </div>
                            <p class="fs-md">@Html.DisplayFor(model => location[0]), @Html.DisplayFor(model => location[1]) - @Html.DisplayFor(model => location[2])</p>
                            <td class="mb-2">
                                <div class="d-flex justify-content-center">
                                    <a asp-action="EditarPet" asp-route-id="@pet.Id" class="btn btn-light d-flex justify-content-center align-items-center rounded-circle p-2 mx-2" title="Editar">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                            <path fill="#141618" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                        </svg>
                                        </a>
                                        <a asp-action="DeletarPet" asp-route-id="@pet.Id" class="btn btn-danger d-flex justify-content-center align-items-center rounded-circle p-2 mx-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path fill="#FFF" d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                                <path fill="#FFF" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                            </svg>
                                        </a>

                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            }
        </div>
        
        <nav aria-label="navigation">
            <ul class="pagination justify-content-end pt-4 pb-2">
                @if (ViewBag.CurrentPage > 1)
                {
                    <li class="page-item">
                            <a class="page-link bg-custom border-dark link-light" asp-action="CadastrarPets" asp-route-page="@(Model.CurrentPage - 1)">Anterior</a>
                    </li>
                }
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                            <a class="page-link bg-custom border-dark link-light" asp-action="CadastrarPets" asp-route-page="@i">@i</a>
                    </li>
                }
                @if (ViewBag.CurrentPage > 1)
                {
                    <li class="page-item">
                            <a class="page-link bg-custom border-dark link-light" asp-action="CadastrarPets" asp-route-page="@(Model.CurrentPage - 1)">Anterior</a>
                    </li>
                }
            </ul>
        </nav>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}