@using KBRPETS.Models.Enums
@model KBRPETS.Models.PetCrudViewModel
@{
    Layout = "_LayoutPanel";
}

<style>
    .file-input {
        display: none;
    }

    .file-label {
        display: inline-block;
        padding: 5px 10px;
        background-color: #343a40;
        color: #fff;
        border: 1px solid #343a40;
        cursor: pointer;
    }

        .file-label:hover {
            background-color: #23272b;
        }

    .file-info {
        margin-top: 5px;
    }

    .file-selected {
        background-color: #28a745;
        color: #fff;
    }
</style>

<body class="bg-dark h-100">

    <header class="bg-light py-2 shadow">

        <input type="hidden" asp-for="@Model.ThisUser.Id" />

        <div asp-action="Painel" class="container-fluid">
            <div class="row">
                <div style="width: 250px;">
                    <img src="~/img/kbrtec.webp" alt="KBRTEC" height="60" width="150" class="object-fit-contain">
                </div>

                <div class="col dropdown d-flex align-items-center justify-content-end">
                    <div class="d-flex align-items-center dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Bem vindo @Html.DisplayFor(model => model.ThisUser.Name)!

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill ms-2" viewBox="0 0 16 16">
                            <path fill="#6c757D" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                        </svg>
                    </div>

                    <ul class="dropdown-menu">
                        <li>
                            <a asp-action="Editar" asp-route-id="@Model.ThisUser.Id" class="dropdown-item text-end">
                                <small>Alterar Senha</small>
                            </a>
                            <a class="dropdown-item text-end" asp-action="Logout">
                                <small>Sair</small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="d-flex" style="min-height: calc(100vh - 76px - 72px);">
        <aside class="bg-custom text-light py-4" style="width: 250px;">
            <div class="menu">
                <div class="item">
                    <div class="w-100 d-flex align-items-center gap-2 link-light text-decoration-none mt-2 py-3 px-3 border-start border-light border-4" type="button" data-bs-toggle="collapse" data-bs-target="#menu-usuario" aria-expanded="true" aria-controls="menu-usuario">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                        </svg>

                        Usuários
                    </div>

                    <div class="collapse show" id="menu-usuario">
                        <div class="bg-dark d-flex flex-column rounded mx-4 p-2 row-gap-1 active">
                            <a asp-action="CadastrarPets" class="submenu-link link-light text-decoration-none rounded p-2 active">
                                <small class="d-flex justify-content-between align-items-center">
                                    Cadastrar


                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                    </svg>
                                </small>
                            </a>
                            <a href="@Url.Action("Painel", "painel")" class="submenu-link link-light text-decoration-none rounded p-2">
                                <small class="d-flex justify-content-between align-items-center">
                                    Listagem

                                </small>
                            </a>
                            <a asp-action="Solicitacoes" class="submenu-link link-light text-decoration-none rounded p-2">
                                <small class="d-flex justify-content-between align-items-center">
                                    Solicitações
                                </small>
                            </a>
                        </div>
                    </div>
                </div>

                <a asp-action="Logout" class="w-100 d-flex align-items-center gap-2 link-light text-decoration-none mt-2 py-3 px-3 ms-1 icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(-.125rem, 0, 0);">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
                        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                    </svg>

                    Sair
                </a>
            </div>
        </aside>

        <main class="col h-100 text-light p-4">
            <div class="d-flex align-items-end justify-content-between mb-4">
                <h1 class="h3">Cadastrar Pet</h1>

                <a href="@Url.Action("CadastrarPets", "painel")" class="btn btn-light">Voltar</a>
            </div>

            <form asp-action="InserirPet" method="post" class="bg-custom rounded col-12 py-3 px-4" enctype="multipart/form-data">
                <hidden>@Html.AntiForgeryToken()</hidden>
                
                <input type="hidden" asp-for="Pet.Images" value=" "/>

                <div class="mb-3 row">
                    <label asp-for="Pet.Name" class="col-sm-2 col-form-label">Nome:</label>
                    <div class="col-sm-10">
                        <input asp-for="Pet.Name" type="text" class="form-control bg-dark text-light border-dark" placeholder="Ex: Gaia" value="">
                    </div>
                    <span asp-validation-for="Pet.Name" class="text-danger"></span>
                </div>

                <div class="mb-3 row">
                    <label asp-for="Pet.Gender" class="col-sm-2 col-form-label">Gênero:</label>
                    <div class="col-sm-10">
                        <select asp-for="Pet.Gender" asp-items="Html.GetEnumSelectList<GenderEnum>()" class="form-control bg-dark text-light border-dark">
                            <option selected="selected" value="">Selecione o Gênero</option>
                        </select>
                    </div>
                    <span asp-validation-for="Pet.Gender" class="text-danger"></span>
                </div>

                <div class="mb-3 row">
                    <label asp-for="Pet.Species" class="col-sm-2 col-form-label">Espécie:</label>
                    <div class="col-sm-10">
                        <select asp-for="Pet.Species" asp-items="Html.GetEnumSelectList<SpeciesEnum>()" class="form-control bg-dark text-light border-dark">
                            <option selected="selected" value="">Selecione a Espécie</option>
                        </select>
                    </div>
                    <span asp-validation-for="Pet.Species" class="text-danger"></span>
                </div>

                <div class="mb-3 row">
                    <label asp-for="Pet.Port" class="col-sm-2 col-form-label">Porte:</label>
                    <div class="col-sm-10">
                        <select asp-for="Pet.Port" asp-items="Html.GetEnumSelectList<PortEnum>()" class="form-control bg-dark text-light border-dark">
                            <option selected="selected" value="">Selecione o Porte</option>
                        </select>
                    </div>
                    <span asp-validation-for="Pet.Port" class="text-danger"></span>
                </div>


                <div class="mb-3 row">
                    <label asp-for="Pet.Race" class="col-sm-2 col-form-label">Raça:</label>
                    <div class="col-sm-10">
                        <input asp-for="Pet.Race" type="text" class="form-control bg-dark text-light border-dark" placeholder="Ex: Pastor Alemão" value="">
                    </div>
                    <span asp-validation-for="Pet.Race" class="text-danger"></span>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Peso:</label>
                    <div class="col-sm-10">
                        <input type="number" asp-for="Pet.Weight" class="form-control bg-dark text-light border-dark" placeholder="Ex: 12" value="">
                    </div>
                    <span asp-validation-for="Pet.Weight" class="text-danger"></span>
                </div>

                <div class="mb-3 row">
                    <label asp-for="Pet.Age" class="col-sm-2 col-form-label">Idade:</label>
                    <div class="col-sm-10">
                        <input asp-for="Pet.Age" type="number" class="form-control bg-dark text-light border-dark" placeholder="Ex: 10" value="">
                    </div>
                    <span asp-validation-for="Pet.Age" class="text-danger"></span>
                </div>

                <div class="mb-3 row">
                    <label asp-for="Pet.Description" class="col-sm-2 col-form-label">Descrição:</label>
                    <div class="col-sm-10">
                        <textarea asp-for="Pet.Description" class="form-control bg-dark text-light border-dark" placeholder="Ex: Um fofo filhotinho que acabou de chegar!"></textarea>
                    </div>
                    <span asp-validation-for="Pet.Description" class="text-danger"></span>
                </div>

                <div class="mb-3 row">
                    
                    @{
                        <label asp-for="Pet.Location" class="col-sm-2 col-form-label">Localização:</label>
                        <div class="col-sm-10">
                            <input id="bairro" class="form-control mb-3 bg-dark text-light border-dark" placeholder="Bairro"/>
                            <input id="cidade" class="form-control mb-3 bg-dark text-light border-dark" placeholder="Cidade" />
                            <input id="estado" class="form-control mb-3 bg-dark text-light border-dark" placeholder="Estado" />
                        </div>

                        <input id="location" type="hidden" asp-for="Pet.Location">
                        <span asp-validation-for="Pet.Location" class="text-danger"></span>
                    }

                    <script>
                        $(document).ready(function() {
                            $('input').change(function() {
                                var bairro = $('#bairro').val();
                                var cidade = $('#cidade').val();
                                var estado = $('#estado').val();
                                var location = bairro + ',' + cidade + ',' + estado;
                                $('#location').val(location);
                            });
                        });
                    </script>


                </div>


                <br/>
                <hr/>
                <br/>

                <h1 class="h3">Enviar Imagens</h1>
                
                @Html.ValidationMessageFor(model => model.ImageError)
                @Html.ValidationSummary(true)

                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["ErrorMessage"]
                    </div>
                }


                <div class="mb-5 mt-5">
                    <div class="row">
                        @for (int i = 0; i < @Model.ImageFileList.Count; i++)
                        {
                            <div class="col mb-3">
                                <input asp-for="ImageFileList[@i]" id="file[@i]" class="file-input rounded" name="ImageFileList" type="file" onchange="document.getElementById('label[@i]').classList.add('file-selected'); document.getElementById('info[@i]').textContent = 'OK!';" />
                                <label id="label[@i]" for="file[@i]" class="file-label mb-2 rounded">Selecione um Arquivo</label>
                                <span id="info[@i]" class="form-control-sm bg-dark text-light border-dark file-info rounded">Não Enviado</span>
                                <span asp-validation-for="ImageFileList" class="text-danger"></span>
                            </div>
                        }
                    </div>
                </div>


                <div class="d-flex justify-content-end">
                    <button type="submit" value="" class="btn btn-light">Salvar</button>
                </div>
            </form>
            <div class="bg-custom rounded overflow-hidden">
            </div>
        </main>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
<footer class="bg-custom text-light text-center py-4">
    <small>© Copyright 2023 - KBR TEC - Todos os Direitos Reservados</small>
</footer>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            ClassicEditor
                .replace(document.querySelector('Pet_Description'))
                .catch(error => {
                    console.error(error);
                });
        </script>
    }
}